table { width: 100%; margin-bottom: 20px; }
table thead tr th, table thead tr td,
table tbody tr td {
    font-size: 12px;
    padding: 8px;
}
tr th { font-weight: bold; }
.clear { clear: both; }

pre {
    display: block;
    padding: 10.5px;
    margin: 0 0 11px;
    font-size: 13px;
    line-height: 1.6;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

img {
    clear: both;
    display: block;
    margin: 0 auto;
}

img.align-right {
    float: right;
    padding-left: 15px;
    padding-bottom: 15px;
}

img.align-left {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.album { display: flex; flex-wrap: wrap; }
.album .image { flex: 1 1 auto; width: 25%; }

.block {
    word-wrap: break-word;
}

@media only screen and (max-width: 40em) {
    .album .image { width: 50%; }
}

.news .image {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.news .image img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0;
}

.news .text {
    float: left;
    padding-left: 50px;

}

.news .newsheader {
    margin-top: 0;
}

.news .newsheader.block a {
    display: block;
    text-align: center;
    padding: 10px 0;
    background: gray;
    color: #fff;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    overflow-y: auto;
}

.portlet .project-images {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.portlet .project-image {
    flex-grow: 1;
    margin-right: 15px;
    width: calc(100% * (1/4) - 15px);
}

.grecaptcha-badge {
    display: none;
}

.g-recaptcha {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform-origin: right top;
    -webkit-transform-origin: right top;
}

.form-flex button {
    margin-left: 15px;
}

.form-flex {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.flex-end {
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}