.tab-content {
  padding: 30px 0;
}

.modal {
    .input-group-addon {
        border-radius: 4px 0 0 4px !important;
    }

    .input-pointer:hover > input {
        cursor: pointer !important;
    }

    .modal-dialog{
        overflow-y: initial !important
    }
    .modal-body{
        max-height: 70vh;
        overflow-y: auto;
    }

    .flex {
        display: flex;
    }
}

#medialist {
    margin-top: 15px;
}

#mediaModal {
    overflow-y: auto;
    .media-image-gallery{
        display: block;
        .thumbnail{
            display: inline-block;
            position: relative;
            width: 100%;
            padding: 10px;
            height: 250px;
            overflow: hidden;
            img{
                margin-bottom: 10px;
                width: 100%;
            }
            p{
                text-align: center;
                font-size: 14px;
                line-height: 24px;
                word-break: break-all;
            }
        }
        .thumbnail.selected {
            background-color: mix(#fff, $brand-success, 70%);
            border-color: $brand-success;
        }
        .trash{
            position: absolute;
            top: 12px;
            right: 27px;
            display: block;
            a{
                color: #fff;
                background-color: #020202;
                padding: 2px 5px;
                border-radius: 2px;
                font-size: 14px;
                display: inline-block;
            }
        }
    }
}
#uploadMediaModal{
    overflow-y: auto;
    .media-image-gallery{
        background-color: #f5f8fa;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 20px;
        height: 250px;
        overflow: hidden;
        .thumbnail{
            position: relative;
            height: 170px;
            padding: 4px;
            margin: 0 0 10px;
            line-height: 1.6;
            background-color: #f5f8fa;
            border: 1px solid #ddd;
            border-radius: 4px;
            -webkit-transition: border 0.2s ease-in-out;
            transition: border 0.2s ease-in-out;
        }
        p{
            color: #3097D1;
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            word-break: break-all;
            margin-bottom: 0px;
        }
        .trash{
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            a{
                color: #fff;
                background-color: #020202;
                padding: 2px 5px;
                border-radius: 2px;
                font-size: 14px;
                display: inline-block;
            }
        }
    }
    .upload-button{
        text-align: center;
        display: inline-block;
        width: 100%;
    }
}
.media-pagination{
    .pagination{
        display: inline-block;
        padding-left: 0;
        margin: 22px 0;
        border-radius: 4px;
        li{
            margin: 0px;
            float: left;
            a{
                font-size: 13px;
                line-height: 22px;
                position: relative;
                float: left;
                padding: 6px 12px;
                line-height: 1.6;
                text-decoration: none;
                color: #3097D1;
                background-color: #fff;
                border: 1px solid #ddd;
                margin-left: -1px;
                border-radius: 0px;
            }
            &.disabled{
                span{
                    font-size: 13px;
                    line-height: 22px;
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    line-height: 1.6;
                    text-decoration: none;
                    color: #3097D1;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    margin-left: -1px;
                    cursor: not-allowed;
                }
            }
            &.active{
                span{
                   font-size: 13px;
                    line-height: 22px;
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    line-height: 1.6;
                    text-decoration: none;
                    color: #fff;
                    background-color: #3097D1;
                    border: 1px solid #3097D1;
                    margin-left: -1px;
                    cursor: default;
                }
            }
            &:first-child{
                span{
                    border-radius: 3px 0px 0px 3px;
                }
                a{
                    border-radius: 3px 0px 0px 3px;
                }
            }
            &:last-child{
                a{
                    border-radius: 0px 3px 3px 0px;
                }
                span{
                    border-radius: 0px 3px 3px 0px;
                }
            }
        }
    }
}
.modal-overlay
{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:rgba(0,0,0,0.5) url(images/loader.gif)  no-repeat center center;
    background-size: 50px 50px;
}

.modal {

}

#console {
    &.error{
        color: red;
        display: block;
        text-align: center;
        width: 100%;
    }
}
