


  body {
    height: 100vh;
    padding-top:140px;
    background-position-y: 140px;
    font-size: 14px;
  }

  .placeholder {
    outline: 1px dashed #4183C4;
    border: 0;
  }

  .form-control.no-border-radius {
    border-radius: 0 !important;
  }

  .mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
  }

  ul.sortable {
    list-style-type: none;

    ul {
      list-style-type: none;
    }

    li {
      border-radius: 5px;
      border: 1px solid $navbar-default-border;
      margin-bottom: 5px;
      padding: 5px;

      &:hover {
        cursor: move;
      }

      div {
        padding: 5px 10px;
        position: relative;
      }
    }

    .remove {
      position: absolute; right: 0;
      line-height: 32px;
      padding: 0 15px;
      cursor: pointer;
    }
  }

  .clear {
    clear:both;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-fluid {
    position: relative;
  }

  .nav-pills > li > a, label, input { font-size: 14px; }
  .nav li.active a { background: darken($dropdown-link-hover-bg, 20%); }

  .modal {
    .table {
      width: 100%;
    }

    .table td, .table th {
      font-size: 12px;
      padding: 10px;
    }

    textarea, .panel-body {
      font-size: 14px;
      padding: 6px 12px;
    }

    .list-group-item {
      font-size: 12px;
    }

    .nav-tabs > li > a {
      font-size: 14px;
    }

    p {
      font-size: 14px;
      margin-bottom: 15px;
    }

    .alert {
      font-size: 14px;
    }
  }

  #cms {
    a {
      transition: all 0.25s ease;

      &:hover {
        background: darken($navbar-bg, 10%);
      }

      &.highlight {
        background: darken($navbar-bg, 10%);

        &:hover {
          background: darken($navbar-bg, 20%);
        }
      }

    }

    .navbar-background {
      background: $navbar-bg;
    }

    .full-height {
      height: 100vh;
    }

    .position-ref {
      position: relative;
    }

    .top-right {
      position: absolute;
      right: 10px;
      top: 18px;
    }

    .content {
      text-align: center;
    }

    .title {
      font-size: 84px;
    }

    .links > a {
      color: #636b6f;
      padding: 0 25px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: .1rem;
      text-decoration: none;
      text-transform: uppercase;
    }

    .navbar-default .navbar-nav > li > a {
      color: #152e45;
    }

    .navbar-wide > li > a {
      padding-left: $small-size*2;
      padding-right: $small-size*2;
    }

    .navbar-toggle {
      z-index:1000;
    }

     // Header
    header {
      * {
        font-size: 15px !important;
      }

      .container-fluid {
        @include display-box();

        .flex-left {
          @include display-flex-child();
          justify-content: flex-start;
        }

        .flex-center {
          @include display-flex-child();
          justify-content: center;
        }
        .flex-right {
          @include display-flex-child();
          justify-content: flex-end;
        }
      }

      .publish a {
        background: #fff;

        &:hover {
          background: $brand-success;
          color: #fff;
        }
      }

      .dropdown .glyphicon { padding-right: 5px; }

      .navbar-header {
        padding-left: $small-size;

        .navbar-brand > img {
          display: inline-block;
          height: 100%;
          padding-right: 5px;
        }

        .divider {
          border-right: 1px solid $navbar-default-border;
          float: left;
          height: 50px;
          width: 1px;
        }
      }
    }

    // Responsive
    .navbar-collapse {
      width: 100%;
      @media (min-width: $screen-sm-min) {
        width: auto;
      }
      @media (min-width: $screen-md-min) {
        width: auto;
      }
      @media (min-width: $screen-lg-min) {
        width: auto;
      }
    }
  }


  // Large dropdown:
  .dropdown-large {
    position: static !important;
  }
  .dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    max-height: 500px;
    padding: 20px 0px;
    overflow: hidden;
    overflow-y: scroll;
    left: initial !important;
  }
  .dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
  }
  .dropdown-menu-large > li > ul > li {
    list-style: none;
  }
  .dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
  }
  .dropdown-menu-large > li ul > li > a:hover,
  .dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }
  .dropdown-menu-large .disabled > a,
  .dropdown-menu-large .disabled > a:hover,
  .dropdown-menu-large .disabled > a:focus {
    color: #999999;
  }
  .dropdown-menu-large .disabled > a:hover,
  .dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
  }
  .dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
  }
  @media (max-width: 768px) {
    .dropdown-menu-large {
      margin-left: 0 ;
      margin-right: 0 ;
    }
    .dropdown-menu-large > li {
      margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
      margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
      padding: 3px 15px !important;
    }
  }


  .breadcrumbs > * a, .breadcrumbs > * {
    font-size: 11px;
  }

  .breadcrumbs {
    padding: 9px 14px;
  }
