
  @mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    float: none !important;
    flex-direction: row;
  }

  @mixin display-box() {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-box;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  @mixin display-flex-child() {
    -webkit-flex:1 auto;
    -moz-flex:1 auto;
    -ms-flex:1 auto;
    flex:1 auto;
    float: none !important;
  }